body,
html {
  background-color: #41646c;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue",
    Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 15px;
  font-weight: 300;
  line-height: 1.6em;
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

button {
  background: #009d51;
  border: 0;
  color: #fff;
  cursor: pointer;
  display: block;
  font-size: 20px;
  margin: 30px auto 0 auto;
  padding: 15px 13px;
  user-select: none;
}

canvas {
  display: block;
}

pre,
textarea {
  -ms-overflow-style: none;
  font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
  font-size: 16px;
  display: block;
  height: 100%;
  line-height: 1.6em;
  margin: 0;
  overflow: scroll;
  padding: 0;
  position: absolute;
  width: 100%;
}

pre::-webkit-scrollbar {
  width: 0 !important;
}

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
  z-index: 20;
}

pre .boolean,
pre .keyword {
  color: #8bb4b8;
}

pre .class-name,
pre .string {
  color: #ff3945;
}

pre .comment {
  color: #8a8a8a;
}

pre .number {
  color: #009d51;
}

pre .operator {
  color: #ccc;
}

textarea {
  -webkit-text-fill-color: transparent;
  background: transparent;
  border: 0;
  box-shadow: none;
  outline: none;
  resize: none;
  text-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
  z-index: 30;
}

textarea::-webkit-scrollbar {
  width: 0 !important;
}

.action {
  float: right;
  padding: 12px 12px 4px 0px;
  position: relative;
}

.action:hover {
  cursor: pointer;
}

.action:hover span {
  visibility: visible;
}

.action img {
  width: 24px;
}

.action span {
  background: #fbf6b3;
  color: #000;
  padding: 8px 10px;
  position: absolute;
  right: 5px;
  text-align: center;
  visibility: hidden;
  white-space: nowrap;
  bottom: -36px;
  z-index: 5;
}

.clear {
  clear: both;
  height: 0;
  width: 0;
}

.content {
  position: relative;
}

.graph {
  float: left;
}

.heading {
  float: left;
  padding: 14px 10px 3px 230px;
}

.info {
  background: #fafafa;
  display: none;
  padding: 12px 20px 16px 12px;
  position: absolute;
  top: 0;
  width: 200px;
}

.refresh {
  padding-top: 1px;
  width: 21px !important;
}

.right {
  float: right;
  font-weight: bold;
}

.simulation {
  background: #fff;
  margin-bottom: 20px;
  user-select: none;
}

.summary {
  float: left;
  padding: 0 20px 0 12px;
  width: 200px;
}

.value {
  font-weight: normal;
}

.value-dead {
  color: #444444;
}

.value-healthy {
  color: #8bb4b8;
}

.value-immune {
  color: #009d51;
}

.value-infected {
  color: #ff3945;
}

.value-recovered {
  color: #009d51;
}

#editor {
  flex: 1;
  overflow: hidden;
  position: relative;
  width: 100%;
}

#error {
  background: #ffa2a4;
  display: none;
  margin-bottom: 20px;
  padding: 20px;
}

#inlay {
  align-items: stretch;
  background: #fff;
  display: flex;
  flex-flow: column;
  height: 80%;
  margin: 20px auto 0 auto;
  padding: 20px;
  width: 80%;
}

#main {
  padding: 20px 20px 0px 20px;
}

#overlay {
  background: rgba(0, 0, 0, 0.5);
  display: none;
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
}
